{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended","airbnb", "airbnb/hooks","plugin:import/typescript", "plugin:prettier/recommended"],
  "env": {
      "browser": true,
      "es2021": true
  },
  "rules": {
      "max-len":["error", 150 ,{"ignoreUrls": true}],
      "semi": ["error", "always"],
      "quotes": ["error", "single"],
      "linebreak-style": ["error", "windows"],
      "import/newline-after-import": "off",
      "class-methods-use-this": "off",
      "@typescript-eslint/class-methods-use-this": "off",
      "eol-last": 0,
      "prettier/prettier": ["error"],
      "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
      "lines-between-class-members": [
        "error",
        "always",
        { "exceptAfterSingleLine": true }
      ],
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
     ]
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["./webpack.config.js", "**/vendor/*.js"],
  "plugins": ["@typescript-eslint","import","prettier"],
  "root": true,
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}